* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    min-height: 100vh;
    width: 1200px;
    margin: auto;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
}

select {
    font-size: 1.4rem;
    width: 140px;
    color: #717176;
}

/* header */

header {
    width: 100%;
    height: 50px;
    margin: 15px auto;
    font-size: 2.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 18%;
    text-align: center;
}

.header-middle-area {
    width: 64%;
    display: flex;
    justify-content: flex-end;
}

.header-middle-area ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-middle-area ul li {
    width: 20%;
    display: flex;
    justify-content: center;
}

.header-right-area {
    width: 24%;
    display: flex;
    justify-content: space-around;
}

.header-right-area ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-right-area ul li {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* footer */

footer {
    display: none;
}

/* main */

main {
    width: 90%;
    margin: auto;
}

/* index */

.index-info-area {
    width: 100%;
    height: 350px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index-info-area h1 {
    margin-bottom: 20px;
    font-size: 5.0rem;
}

.index-search-box {
    margin: 20px;
    display: flex;
}

.index-search-box select,
.index-search-box input,
.index-search-box button {
    outline: none;
    border-right: none;
    background: transparent;
    padding: 10px;
    font-size: 1.8rem;
}

.index-search-box select {
    font-size: 1.4rem;
    width: 140px;
    color: #717176;
}

.index-search-box input {
    width: 400px;
}

.index-search-box button {
    border: 2px black solid;
    background: black;
    color: white;
}

.index-middle-area {
    width: 1200px;
    height: 500px;
    display: flex;
    vertical-align: text-bottom;
}

.index-middle-part {
    width: 50%;
    margin: 20px;
}

.index-middle-info {
    display: flex;
    align-items: center;
    border-bottom: 2px black solid;
}

.index-middle-info h2 {
    margin: 15px 20px;
    font-size: 2.0rem;
}

.index-middle-info select {
    display: inline-block;
    height: 30px;
    font-size: 1.6rem;
}

/* page-info-area */
.page-info-area {
    height: 100px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    border-bottom: 4px black solid;
}

.page-info-area h1 {
    margin: 5px 10px;
    font-size: 2.5rem;
}

.page-info-area p {
    margin: 5px 10px;
    font-size: 2.0rem;
}

/* article-search-area */

.article-search-area {
    padding: 5px;
    border-bottom: 2px black solid;
    margin-bottom: 10px;
}

.article-search-box {
    padding: 5px;
    display: flex;
}

.article-search-box select,
.article-search-box input,
.article-search-box button {
    outline: none;
    border-right: none;
    background: transparent;
    padding: 10px;
    font-size: 1.6rem;
}

.article-search-box select {
    font-size: 1.4rem;
    width: 140px;
    color: #717176;
}

.article-search-box input {
    width: 300px;
}

.article-search-box button {
    border: 2px black solid;
    background: black;
    color: white;
}

/* searched-articles */

.searched-articles-info {
    padding: 5px;
    font-size: 2.0rem;
    border-bottom: 1px black solid;
}

.searched-articles-area {
    padding: 5px;
    font-size: 1.6rem;
}

.searched-article {
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
    margin-bottom: 5px;
    cursor: pointer;
}

.searched-article-title {
    font-size: 2.0rem;
    font-weight: bold;
    padding: 8px;
    border-bottom: 1px lightgrey solid;
}

.searched-article-description {
    font-size: 1.6rem;
    padding: 6px;
    border-bottom: 1px lightgrey solid;
}

.searched-article-pubDate {
    font-size: 1.4rem;
    padding: 8px;
}

/* board-pagination */

.board-pagination {
    width: 60%;
    font-size: 1.8rem;
    margin: 30px auto;
}

.board-pagination ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* articles */

.article-list-info {
    padding: 5px;
    border-bottom: 1px black solid;
    display: flex;
}

.article-list-info h2 {
    margin: 5px 20px;
    font-size: 2.0rem;
}

.article-list-info select {
    display: inline-block;
    height: 30px;
    font-size: 1.6rem;
}

.article-in-list {
    padding-top: 5px;
    display: flex;
    border-bottom: 1px black solid;
    cursor: pointer;
}

.article-rank-in-articles {
    width: 8%;
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-summary {
    width: 92%;
    display: flex;
    flex-direction: column;
}

.article-summary-title {
    font-size: 2.0rem;
    font-weight: bold;
    padding: 6px;
    border-bottom: 1px lightgrey solid;
}

.article-summary-description {
    padding: 6px;
    border-bottom: 1px lightgrey solid;
    font-size: 1.6rem;
}

.article-summary-pubdate {
    padding: 6px;
    border-bottom: 1px lightgrey solid;
    font-size: 1.4rem;
}

.article-summary-figures {
    padding: 4px;
    display: flex;
}

.article-summary-figure {
    font-size: 1.4rem;
    margin: 0 5px;
}

/* article */

.article-info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
}

.article-title {
    padding: 10px;
    font-size: 3.0rem;
    font-weight: bolder;
}

.article-figures {
    display: flex;
    align-items: center;
}

.article-figure {
    padding: 10px;
    font-size: 1.5rem;
}

.article-contents {
    padding: 10px;
}

.article-contents-images {
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 2.0rem;
    font-weight: bolder;
}

.article-contents-textarea {
    font-size: 2.0rem;
}

.article-originalLink {
    padding: 15px 0;
    font-size: 1.8rem;
    font-weight: bolder;
    color: dodgerblue;
    text-decoration: underline;
}

/* comments-area */

.comments-area {
    padding: 15px;
    border-top: 2px solid black;
}

.new-comment-textarea {
    display: flex;
    align-items: flex-end;
}

.new-comment-text {
    padding: 10px;
    margin-right: 10px;
    font-size: 2.0rem;
    width: 80%;
    height: 200px;
    border: 1px solid black;
}

.new-comment-textarea button {
    width: 94px;
    background: black;
    color: white;
}

.comments-info {
    display: flex;
    align-items: center;
    border-bottom: 1px black solid;
    font-size: 1.6rem;
}

.comment-list {
    padding: 10px;
}

.comments-info select {
    font-size: 1.4rem;
}

/* poll-area */

.poll-area {
    width: 30%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.poll-area button {
    width: 40%;
    margin-left: 10px;
}

/* new-post */

.new-post-area {
    border-bottom: 2px black solid;
}

.new-post-title {
    padding: 10px;
    font-size: 2.0rem;
    display: flex;
    border-bottom: 1px black solid;
    align-items: center;
}

.new-post-title span {
    width: 10%;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}

.new-post-title input {
    width: 80%;
    padding: 10px;
    font-size: 1.8rem;
}

.new-post-textarea {
    border-bottom: 1px black solid;
    padding: 15px;
}

.new-post-text {
    height: 300px;
    border: 1px lightgrey solid;
    background: white;
    font-size: 2.0rem;
    padding: 10px;
}

/* new-notice */

.new-notice-title {
    padding: 10px;
    font-size: 2.0rem;
    display: flex;
    align-items: center;
    border-bottom: 1px lightgrey solid;
}

.new-notice-title span {
    width: 10%;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}

.new-notice-title input {
    width: 80%;
    padding: 10px;
    font-size: 1.8rem;
}

.new-notice-fixed-flag {
    padding: 10px;
    border-bottom: 1px black solid;
    font-size: 2.0rem;
    display: flex;
    align-items: center;
}

.new-notice-fixed-flag span {
    width: 10%;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}

.new-notice-fixed-flag input {
    padding-left: 10px;
    width: 20px;
}