* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    min-height: 100vh;
    width: 1200px;
    margin: auto;
    background-color: #f9f8fd;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

select {
    padding: 5px;
    font-size: 1.6rem;
    width: 140px;
    color: #717176;
}

/* button */

.add {
    background: black;
    color: white;
}

/* header */

header {
    width: 100%;
    height: 50px;
    margin: 15px auto;
    font-size: 2.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 18%;
    text-align: center;
}

.header-middle-area {
    width: 64%;
    display: flex;
    justify-content: flex-end;
}

.header-middle-area ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-middle-area ul li {
    width: 20%;
    display: flex;
    justify-content: center;
}

.header-right-area {
    width: 24%;
    display: flex;
    justify-content: space-around;
}

.header-right-area ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-right-area ul li {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* footer */

footer {
    display: none;
}

/* main */

main {
    width: 100%;
    margin: auto;
}

/* index */

.index-info-area {
    width: 100%;
    height: 350px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index-info-area h1 {
    margin-bottom: 20px;
    font-size: 4.0rem;
}

.index-search-box {
    margin: 20px;
    display: flex;
}

.index-search-box select,
.index-search-box input,
.index-search-box button {
    outline: none;
    border-right: none;
    background: transparent;
    padding: 10px;
    font-size: 1.8rem;
}

.index-search-box select {
    font-size: 1.4rem;
    width: 140px;
    color: #717176;
}

.index-search-box select:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.index-search-box input {
    width: 400px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.index-search-box button {
    border: 2px black solid;
    background: black;
    color: white;
}

.index-middle-area {
    width: 100%;
    height: 500px;
    display: flex;
    vertical-align: text-bottom;
}

.index-middle-part {
    width: 50%;
    margin: 20px;
}

.index-middle-info {
    display: flex;
    align-items: baseline;
    border-bottom: 2px black solid;
}

.index-middle-info h2 {
    margin: 15px 20px;
    font-size: 2.0rem;
}

.index-middle-info select {
    display: inline-block;
    height: 30px;
    font-size: 1.6rem;
}

.index-middle-contents {
    border-bottom: 1px solid black;
}

.index-middle-contents ul {
    display: flex;
    flex-direction: column;
}

.index-middle-contents ul li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 1.8rem;
    border-bottom: 1px solid lightgrey;
}

.index-middle-contents ul li a {
    padding: 5px;
    display: inline-block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.index-middle-contents ul li span {
    display: inline-block;
    width: 20%;
    font-weight: bold;
    text-align: center;
}

/* page-info-area */

.page-info-area {
    height: 100px;
    margin: 50px auto 0;
    padding: 10px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    border-bottom: 4px black solid;
}

.page-info-area h1 {
    margin: 5px 10px;
    font-size: 3.0rem;
}

.page-info-area p {
    margin: 5px 10px;
    font-size: 2.5rem;
}

/* article-search-area
   post-search-area
   notice-search-area */

.search-area {
    padding: 5px;
    border-bottom: 3px black solid;
    margin-bottom: 10px;
}

.search-box {
    padding: 5px;
    display: flex;
}

.search-box select,
.search-box input,
.search-box button {
    outline: none;
    border-right: none;
    background: transparent;
    padding: 10px;
    font-size: 1.6rem;
}

.search-box select {
    font-size: 1.4rem;
    width: 140px;
    color: #717176;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.search-box input {
    width: 300px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.search-box button {
    border: 2px black solid;
    background: black;
    color: white;
}

/* searched-articles */

.searched-articles-info {
    padding: 10px;
    font-size: 2.0rem;
    border-bottom: 1px black solid;
}

.searched-articles-area {
    padding: 5px;
    font-size: 1.6rem;
}

.searched-article {
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
    margin-bottom: 5px;
    cursor: pointer;
}

.searched-article-title {
    font-size: 2.0rem;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px lightgrey solid;
}

.searched-article-description {
    font-size: 1.6rem;
    padding: 10px;
    border-bottom: 1px lightgrey solid;
}

.searched-article-pubDate {
    font-size: 1.4rem;
    padding: 10px;
}

/* board-pagination */

.board-pagination {
    width: 60%;
    font-size: 1.8rem;
    margin: 40px auto;
}

.board-pagination ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.board-pagination ul li {
    display: flex;
    align-items: center;
    width: 7%;
    margin-left: 5px;
    font-size: 1.8rem;
}

.selected-page {
    font-size: 2.5rem;
    font-weight: bold;
}

/* articles */

.article-list-info {
    padding: 10px;
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;
}

.article-list-info h2 {
    margin: 10px 20px;
    font-size: 2.0rem;
}

.article-list-info select {
    padding: 5px;
    display: inline-block;
    height: 30px;
    font-size: 1.4rem;
}

.article-in-list {
    padding-top: 5px;
    display: flex;
    border-bottom: 1px black solid;
    cursor: pointer;
}

.article-rank-in-articles {
    width: 8%;
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-summary {
    width: 92%;
    display: flex;
    flex-direction: column;
}

.article-summary-title {
    font-size: 2.0rem;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px lightgrey solid;
}

.article-summary-description {
    padding: 10px;
    border-bottom: 1px lightgrey solid;
    font-size: 1.6rem;
}

.article-summary-pubdate {
    font-size: 1.6rem;
    margin-right: 10px;
}

.article-summary-figures {
    padding: 10px;
    display: flex;
}

.article-summary-figure {
    font-size: 1.4rem;
    margin: 0 5px;
}

/* article */

.article-area {
    border-bottom: 3px solid black;
}

.article-info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
}

.article-title {
    padding: 10px;
    font-size: 3.0rem;
    font-weight: bolder;
}

.article-figures {
    display: flex;
    align-items: center;
}

.article-figure {
    padding: 10px;
    font-size: 1.5rem;
}

.article-figure span {
    display: inline-block;
    margin-right: 8px;
    font-weight: bold;
}

.article-contents {
    padding: 25px 10px;
}

.article-contents-images {
    padding: 10px;
    font-size: 2.0rem;
    font-weight: bolder;
}

.article-contents-textarea {
    padding: 10px;
    font-size: 2.0rem;
}

.article-originalLink {
    padding: 20px 0;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #065fd4;
    text-decoration: underline;
}

.article-btn-area {
    padding: 10px;
    display: flex;
    justify-content: end;
}

.article-btn-area button {
    margin-left: 5px;
}

/* comments-area */

.comments-area {
    padding: 15px;
}

.new-comment-textarea {
    display: flex;
    align-items: flex-end;
}

.new-comment-text {
    padding: 10px;
    margin-right: 10px;
    font-size: 2.0rem;
    width: 80%;
    height: 150px;
    border: 1px solid lightgrey;
}

.new-comment-textarea button {
    width: 94px;
    background: black;
    color: white;
}

.comments-info {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px black solid;
    font-size: 2.0rem;
}

.total-comments {
    margin-right: 15px;
}

.comment-list {
    padding: 10px;
}

.comments-info select {
    font-size: 1.4rem;
}

.comment-in-comments {
    border-bottom: 1px black solid;
}

.comment-info {
    padding: 10px;
    border-bottom: 1px lightgrey solid;
    display: flex;
    align-items: center;
}

.comment-writer {
    font-size: 2.0rem;
    font-weight: bold;
    margin-right: 9px;
}

.comment-created-At {
    font-size: 1.6rem;
}

.comment-contents {
    font-size: 1.8rem;
    padding: 10px;
}

.comment-btn-area {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.comment-btn-area button {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 5px;
}

.comment-btn-area span {
    display: inline-block;
    margin-right: 7px;
}

.comments-pagination {
    width: 60%;
    font-size: 2.0rem;
    margin: 30px auto;
}

.comments-pagination ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.comments-pagination ul li {
    margin-left: 5px;
    width: 7%;
    font-size: 1.6rem;
}

.selected-comments-page {
    font-size: 2.0rem;
    font-weight: bold;
}

.new-reply-area {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.new-reply-textarea {
    padding: 10px;
}

.new-reply-text {
    border: 1px lightgrey solid;
    height: 100px;
    font-size: 1.8rem;
}

.new-reply-btn-area {
    display: flex;
    padding: 5px;
    justify-content: flex-end;
}

.new-reply-btn-area button {
    margin-left: 5px;
    font-size: 1.4rem;
    width: 70px;
}

.replies-area-btn {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #065fd4;
    border: none;
}

.replies-area {
    margin-left: 20px;
    padding: 10px;
}

.reply-in-replies {
    padding: 10px;
    margin-bottom: 5px;
}

.reply-info {
    display: flex;
    padding: 10px;
    border-bottom: 1px lightgrey solid;
}

.reply-writer {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 9px;
}

.reply-created-at {
    font-size: 1.4rem;
}

.reply-contents {
    padding: 10px;
    font-size: 1.6rem;
}

.reply-btn-area {
    display: flex;
    justify-content: flex-end;
}

.reply-btn-area button {
    margin-left: 5px;
    font-size: 1.4rem;
}

/* poll-area */

.poll-area {
    width: 30%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.poll-area button {
    width: 30%;
    margin-left: 10px;
}

/* new-post */

.new-post-area {
    border-bottom: 2px black solid;
}

.new-post-title {
    padding: 10px;
    font-size: 2.0rem;
    display: flex;
    border-bottom: 1px black solid;
    align-items: center;
}

.new-post-title span {
    width: 10%;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}

.new-post-title input {
    width: 80%;
    padding: 10px;
    font-size: 1.8rem;
}

.new-post-textarea {
    border-bottom: 1px black solid;
    padding: 15px;
}

.new-post-text {
    height: 300px;
    border: 1px lightgrey solid;
    background: white;
    font-size: 2.0rem;
    padding: 10px;
}

.new-post-btn {
    width: 30%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.new-post-btn button {
    width: 40%;
    margin-left: 10px;
}

.new-post-btn button:first-of-type {
    background: black;
    color: white;
}

/* new-notice */

.new-notice-title {
    padding: 10px;
    font-size: 2.0rem;
    display: flex;
    align-items: center;
    border-bottom: 1px lightgrey solid;
}

.new-notice-title span {
    width: 10%;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}

.new-notice-title input {
    width: 80%;
    padding: 10px;
    font-size: 1.8rem;
}

.new-notice-fixed-flag {
    padding: 10px;
    border-bottom: 1px black solid;
    font-size: 2.0rem;
    display: flex;
    align-items: center;
}

.new-notice-fixed-flag span {
    width: 10%;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}

.new-notice-fixed-flag input {
    padding-left: 10px;
    width: 20px;
}

/* upload-image-area */

.upload-image-description{
    padding: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px lightgrey solid;
}

.upload-image-description span {
    margin-right: 10px;
    display: inline-block;
    font-size: 2.0rem;
    font-weight: bold;
}

.upload-image-description button {
    background: black;
    color: white;
}

.upload-image-area {
    display: flex;
    align-items: center;
    overflow: scroll;
}

.upload-image {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-image input {
    width: 90%;
    margin: 15px;
}

.upload-image button {
    width: 20%;
    margin-bottom: 5px;
}

.upload-image button img {
    width: 100%;
}

.upload-image-thumbnail {
    height: 180px;
    margin-bottom: 15px;
}

.upload-image-thumbnail img {
    width: 100%;
}

/* posts */

.posts-area {
    border-bottom: 2px black solid;
}

.posts-info-area {
    display: flex;
    align-items: center;
    border-bottom: 2px black solid;
    padding: 15px;
}

.posts-info-area span {
    display: inline-block;
    margin-right: 10px;
    font-size: 2.0rem;
}

.posts-info-area a {
    display: inline-block;
    margin-left: 20px;
    font-size: 2.0rem;
    font-weight: bold;
    text-decoration-line: underline;
    color: #065fd4;
}

.post-list {
    display: flex;
    flex-direction: column;
}

.post-in-posts-top {
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px black solid;
    padding: 5px;
}

.post-id-in-list {
    width: 10%;
    padding: 5px;
}

.post-top-title-in-list {
    width: 60%;
    padding: 5px;
}

.post-writer-in-list {
    width: 15%;
    padding: 5px;
}

.post-created-at-in-list {
    width: 15%;
    padding: 5px;
}

.posts-btn {
    padding: 5px;
    display: flex;
    justify-content: end;
}

.post-in-posts {
    display: flex;
    cursor: pointer;
    text-align: center;
    font-size: 2.0rem;
    padding: 5px;
    border-bottom: 1px lightgrey solid;
}

.post-title-in-list {
    width: 60%;
    padding: 5px 10px;
    text-align: start;
}

/* notice-list */

.notice-fixed-in-list {
    display: flex;
    cursor: pointer;
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px black solid;
    background: lightgrey;
}

/* post */

.post-area {
    border-bottom: 3px black solid;
}

.post-btn-area {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.post-btn-area button {
    margin-left: 5px;
}

.post-title {
    padding: 10px;
    font-size: 2.5rem;
    font-weight: bold;
}

.post-info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
}

.post-figures {
    display: flex;
    align-items: center;
}

.post-figure {
    padding: 10px;
    font-size: 1.5rem;
}

.post-figure span {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.post-contents {
    padding: 25px 10px;
}

.post-contents-images {
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 2.0rem;
    font-weight: bolder;
}

.post-contents-images img {
    display: inline-block;
    padding: 5px;
}

.post-contents-textarea {
    font-size: 2.0rem;
}

/* login */

.login-page {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 80px;
    border-bottom: 3px solid black;
}

.login-area {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.login-area ul {
    display: flex;
    flex-direction: column;
}

.login-area ul li input {
    width: 100%;
    height: 60px;
    padding: 15px;
    font-size: 2.0rem;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 5px;
}

.login-btn {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-btn button {
    font-size: 2.3rem;
    width: 130px;
    margin-right: 5px;
}

.save-username {
    padding: 10px;
    margin-left: 20px;
    font-size: 2.0rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.save-username label {
    margin-right: 1.0rem;
}

.save-username input {
    height: 2.5rem;
}

.login-oauth2 {
    width: 70%;
    border-top: lightgrey 1px solid;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.login-oauth2 a {
    width: 15%;
    align-items: center;
    margin-right: 20px
}

.login-oauth2 img {
    width: 100%;
}

.login-additional-area {
    width: 70%;
    margin: 20px auto;
}

.login-additional {
    padding: 10px;
    font-size: 2.0rem;
    text-align: center;
}

.login-additional a {
    color: #065fd4;
    font-weight: bold;
    text-decoration: underline;
}

.save-username {
    vertical-align: center;
}

.save-username label {
    display: inline-block;
    margin-right: 10px;
    font-size: 2.0rem;
}

.save-username input {
    transform: scale(1.4);
}

/* sign-up */
.sign-up-page {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 80px;
    border-bottom: 3px solid black;
}

.sign-up-area {
    padding: 15px;
    margin: 0 auto;
}

.sign-up-input {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-input label {
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
    font-size: 2.0rem;
}

.sign-up-input-button-area {
    width: 70%;
    display: flex;
    align-items: center;
}

.sign-up-input-button-area input {
    width: 80%;
    margin-right: 10px;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 5px;
}

.sign-up-btn {
    margin: 50px 20px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.sign-up-btn button {
    margin-left: 5px;
}

.input-valid-check-message {
    text-align: end;
    padding: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #065fd4;
}

/* find-user-info */


/* my-page */
.my-page {
    display: flex;
}

.my-page-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 30px 20px;
    border-right: 3px black solid;
}

.my-page-menu ul li {
    font-size: 2.0rem;
    padding: 10px;
    margin-bottom: 30px;
}

.my-page-contents {
    margin: 15px auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.menu-on {
    font-size: 2.2rem;
    font-weight: bold;
    color: #065fd4;
}

/* member-info */

.member-info-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.member-info-input {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-info-input label {
    width: 30%;
    margin-right: 10px;
    font-weight: bold;
    font-size: 2.0rem;
}

.member-info-input-button-area {
    width: 70%;
    display: flex;
    align-items: center;
}

.member-info-input-button-area input {
    width: 75%;
    margin-right: 10px;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 5px;
}

.member-info-btn {
    margin: 50px 20px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* membership */

.membership-area {
    width: 100%;
    padding: 10px;
}

.membership-info {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px black solid;
}

.membership-total-users {
    font-size: 2.2rem;
    margin-right: 10px;
}

.membership-users-area {
    margin-top: 10px;
    border-bottom: 2px black solid;
}

.users-top {
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px black solid;
}

.user-in-users {
    display: flex;
    font-size: 1.6rem;
    border-bottom: 1px black solid;
    text-align: center;
    align-items: center;
}

.user-username {
    width: 15%;
    padding: 5px;
    overflow: scroll;
    font-size: 1.8rem;
}

.user-nickname {
    width: 15%;
    padding: 5px;
    overflow: scroll;
    font-size: 1.8rem;
}

.user-email {
    width: 20%;
    padding: 5px;
    font-size: 1.8rem;
}

.user-created-at {
    width: 15%;
    padding: 5px;
    overflow: scroll;
}

.user-modified-at {
    width: 15%;
    padding: 5px;
    overflow: scroll;
}

.user-role {
    width: 15%;
    padding: 5px;
}

.user-role select {
    width: 95%;
    font-size: 1.6rem;
}

.user-btn {
    width: 5%;
}

.user-btn button {
    width: 95%;
    height: 90%;
    font-size: 1.6rem;
}

.user-btn button img {
    width: 100%;
}

/* withdrawal */

.withdrawal-area{
    width: 100%;
    padding: 10px;
}

.withdrawal-info-area {
    padding: 15px;
    border-bottom: 2px black solid;
}

.withdrawal-info-area h2 {
    padding: 5px;
    font-size: 2.0rem;
    font-weight: bold;
}

.withdrawal-info-area p {
    padding: 5px;
    font-size: 1.8rem;
}

.withdrawal-password {
    padding: 15px;
    width: 60%;
    border-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.withdrawal-password label {
    padding: 5px;
    font-size: 1.8rem;
    font-weight: bold;
}

.withdrawal-password input {
    width: 70%;
    padding: 10px;
    font-size: 1.6rem;
}

.withdrawal-btn {
    width: 60%;
    display: flex;
    justify-content: end;
}

.withdrawal-btn button {
    font-size: 1.4rem;
}

/* clippings */

.clippings-area {
    border-bottom: 3px black solid;
}

.clippings-btn-area {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.clippings-btn-area button {
    margin-left: 5px;
}

.clippings-info-area {
    display: flex;
    align-items: center;
    border-bottom: 2px black solid;
    padding: 25px 15px 15px 15px;
    font-size: 2.0rem;
}

.clippings-list {
    display: flex;
    flex-direction: column;
}

.clipping-list-top {
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px black solid;
    padding: 5px;
}

.clipping-checkbox {
    display: flex;
    justify-content: center;
    width: 10%;
    padding: 5px;
}

.clipping-checkbox input {
    transform: scale(1.5);
}

.clipping-top-title {
    width: 75%;
    padding: 5px;
    text-align: center;
}

.clipping-title {
    width: 75%;
    padding: 5px 10px;
    text-align: start;
    overflow: hidden;
}

.clipping-pubdate {
    width: 15%;
    padding: 5px;
    text-align: center;
}

.clipping-in-list {
    display: flex;
    cursor: pointer;
    text-align: center;
    font-size: 2.0rem;
    padding: 5px;
    border-bottom: 1px lightgrey solid;
}

/* my-posts */

.my-posts-area{
    width: 100%;
    padding: 10px;
}

.my-posts-info-area {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px black solid;
}

.my-posts-total-posts{
    font-size: 2.2rem;
}

.my-posts-list {
    padding: 5px;
    border-bottom: 2px black solid;
}

.post-in-my-posts {
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
}

.post-in-my-posts:last-of-type {
    border-bottom: none;
}

.my-post-title {
    padding: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 1px lightgrey solid;
    cursor: pointer;
}

.my-post-figures {
    padding: 5px;
    display: flex;
}

.my-post-created-at {
    font-size: 1.6rem;
    margin-right: 15px;
}

.my-post-figure {
    font-size: 1.4rem;
    margin-right: 10px;
}

/* my-comments */

.my-comments-area{
    width: 100%;
    padding: 10px;
}

.my-comments-info-area {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px black solid;
}

.my-comments-total-comments {
    font-size: 2.2rem;
}

.my-comments-list {
    padding: 5px;
    border-bottom: 2px black solid;
}

.comment-in-my-comments {
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
}

.my-comments-contents{
    padding: 5px;
    font-size: 1.8rem;
    overflow: hidden;
    border-bottom: 1px lightgrey solid;
    cursor: pointer;
}

.my-comments-figures {
    padding: 5px;
    display: flex;
}

.my-comments-created-at {
    font-size: 1.6rem;
    margin-right: 15px;
}

.my-comments-figure {
    font-size: 1.4rem;
    margin-right: 10px;
}

/* find-user-info */

.find-user-info-area {
    padding: 30px;
    text-align: center;
}

.find-user-info-area p {
    width: 60%;
    display: inline-block;
    font-size: 3.0rem;
    padding-top: 20px;
}

.find-user-info-btn-area {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.find-user-info-btn {
    min-width: 200px;
    min-height: 200px;
    font-size: 2.5rem;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* find-username, find-password */

.find-info-area {
    display: flex;
}

.find-user-info-menu {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 30px 20px;
    border-right: 3px black solid;
}

.find-user-info-menu ul li {
    font-size: 2.0rem;
    padding: 10px;
    margin-bottom: 30px;
}

.find-user-info-right-area {
    width: 100%;
    padding: 15px;
}

.find-user-info-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px black solid;
}

.find-user-info-info h2{
    margin: 5px 10px;
    font-size: 2.5rem;
}

.find-user-info-info p {
    margin: 5px 10px;
    font-size: 2.2rem;
}

.find-user-info-input {
    padding: 15px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find-user-info-input label {
    padding: 5px;
    font-size: 1.8rem;
    font-weight: bold;
}

.find-user-info-input input{
    width: 70%;
    padding: 10px;
    font-size: 1.6rem;
}

.find-username-btn-area,
.find-password-btn-area {
    width: 60%;
    display: flex;
    justify-content: end;
    font-size: 1.4rem;
}